body {
    margin: 30px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto, Arial;
    font-weight: 200;

    h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 30px;
        font-weight: 400;
    }
}
